{% extends 'base.html' %}

{% block content %} 
    <h1>{% block title %} Update Employee {% endblock %}</h1>
    <form action="{{ url_for('edit') }}" method="POST">
        
        <div class="form-group">
            <input class="form-control" type="hidden" name="id" placeholder="Employee ID" value={{employees.id}}>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" placeholder="Employee Name" value="{{employees.name}}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" placeholder="Employee Email" value="{{employees.email}}">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input class="form-control" type="text" pattern="[0-9]{10}" name="phone" placeholder="Employee Contact Number" value="{{employees.phone}}">
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>
        
    </form>
{% endblock %} 